<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kamini app 🍟</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
        section {
            background-image: url('https://content.jdmagicbox.com/comp/srivilliputtur/n1/9999p4563.4563.220314205524.k5n1/catalogue/meat-and-eat-srivilliputtur-meat-and-eat-9s6hcy9y3m.jpg');
            height: 100vh;
            width: 100vw;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    </head>
<body>
    <header class="w-full fixed top-0 bg-black/50 backdrop-blur-sm text-white uppercase text-center py-2">
        <h1>kamini app 🍟</h1>
    </header>
    <section class="rounded-lg p-10 pt-20">
        <div class="rounded-lg p-2 p-5 text-white font-bold uppercase backdrop-blur-[1px] shadow-md shadow-gray-800">
            Welcome to kamani store of foods and servcies.
        </div>
    </section>
</body>
</html>